*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* color: #d8d7d7; */

    div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        img{
            width: 2vw;
            /* height: 4.5vw; */
            margin-left: 1rem;
            margin-right: 1rem;
        }

        h2{
            /* font-size: 1.5rem; */
            /* font-weight: bold; */
            color: #d8d7d7;
            letter-spacing: .2rem;
        }
    }

    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding: 1rem 0;
        padding-right: 4rem;

        li{
            margin-right: 2rem;

            a{
                text-decoration: none;
                color: #d8d7d7;
                font-size: 1.2rem;
                transition: all 0.3s ease-in-out;

                &:hover{
                    color: #fff;
                    transform: scale(1.1);
                }
            }
        }
    }
}

main{
    background-color: #ffa7a7;

    .background-photo{
        height: 100vh;
        /* background-color: #ffe7e7; */
        background-image: url('../media/images/HeaderVideo.gif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 5rem;
            color: #a8a7a7;
            text-align: center;
        }
    }

    .container{
        background-color: #ffe7e7;
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

        div{
            background-color: #ffa7a7;
            border: 2px solid #d8d7d7;
            border-radius: 2rem;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 2rem;
        }

        h3, h4{
            width: 80%;
            margin-bottom: 1rem;
        }

        p{
            width:80%;
        }

        .project{
            grid-column: 1;
            grid-row: 1 / span 2;

            .second-project{
                /* display: none; */
            }

            p{
                display: flex;
                align-items: center;
                padding-top: .5rem;
                border-bottom: 1px solid #d8d7d7;

                a{
                    text-decoration: none;
                    color: #000000;
                    cursor: pointer;
                }

                a:hover{
                    color: #fff;
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    text-decoration-thickness: 2px;
                    font-weight: bold;
                }
            }
        }

        .experience{
            grid-column: 2 / span 2;
            grid-row: 1;
        }

        .open-source{
            grid-column: 2 / span 2;
            grid-row: 2;
        }

        .education{
            grid-column: 4;
            grid-row: 1 / span 2;

            hr{
                width: 80%;
                margin: 1rem 0;
            }

            ul{
                list-style: "- ";
                width: 80%;
                padding-left: .6rem;
            }
        }
    }
}